body {
  padding: 10px;
  background-color: rgb(22, 22, 20);
}

.App {
  text-align: center;
}

img {
  width: 45vh;
  height: 20vh;
  padding: 0px;
}


#classDiv {
  border: 1px solid black;
  width: 125px;
  display: grid;
  justify-items: center;
  padding: 15px;
  margin: 1rem;
}

.App-header {
  background-color: #2d3036;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > a {
  text-decoration: none;
  text-align: right;
  padding-left: 250px;
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}